a {
    text-decoration: none;
    font-size: 2em;
}

p {
    line-height: 1;
}

h1 {
    font-size: 36px;
}

li {
    list-style-type: none;
}

.nav-item {
    font-size: 9pt;
}

header {
    background: linear-gradient(0deg, rgb(196, 2, 41) 28%, rgb(255, 79, 114) 85%);
}

.btn-outline-danger {
    color: #fff;
    background-color: crimson;
}

.text-danger {
    color: crimson;
}

.py-1 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-img {
    border-radius: 50%;
}

#login {
    font-size: 16pt;
}